.pointer {
  cursor: pointer;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.space-between {
  justify-content: space-between;
}
/* .ant-modal-content {
  border-radius: 12px;
} */

.star::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

body {
  margin: 0px;
}

h3,
h4,
h5 {
  margin-top: 0px;
}
/* .ant-dropdown-menu {
  background-color: black !important;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-item-only-child {
  color: grey !important;
}
.ant-dropdown-menu-item-active {
  color: white !important;
} */
