.pointer {
  cursor: pointer;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.space-between {
  justify-content: space-between;
}
/* .ant-modal-content {
  border-radius: 12px;
} */

.star::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
